@font-face {
    font-family: 'special_eliteregular';
    src: url('fonts/specialelite-webfont.woff2') format('woff2'),
         url('fonts/specialelite-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'milkshakeregular';
    src: url('fonts/milkshake-webfont.woff2') format('woff2'),
         url('fonts/milkshake-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
img.author_image {
    max-width: 60px !important;
    border-radius: 50% !important;
}
.index-isotope.v3 article.pluto-post-box.format-quote .post-body {
    padding: 30px;
    padding-top: 30px;
}
.index-isotope.v3 article.pluto-post-box .post-body .post-top-share,.index-isotope.v1 article.pluto-post-box .post-body .post-top-share {
    right: 20px;
    top: 10px;
	left: inherit;
}
.post-content p {
    font-family: special_eliteregular;
}
.index-isotope.v1 article.pluto-post-box ul.post-categories {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
    float: left;
}
.format-quote.has-post-thumbnail .post-top-share i.share-activator-icon, .format-quote.has-post-thumbnail .post-top-share span.share-activator-label {
    color: #fff !important;
}
.index-isotope.v3 article.pluto-post-box.format-image .post-media-body {
    padding: 10px;
}
.index-isotope.v3 article.pluto-post-box.format-quote.has-post-thumbnail .post-body {
    margin: 10px;
}
.index-isotope.v3 article.pluto-post-box.format-quote {
    padding: 0;
}
.h2_alter {
    font-family: milkshakeregular;
    margin: 10px 0 0 0;
    color: black;
    text-shadow: 3px 3px #ccc;
}
.featured-posts-slider-w {
    height: auto;
}
.featured-posts-slider-w .featured-posts-label {
    top: 43%;
}
.author_link{
	position: absolute;
    bottom: 65px;
    z-index: 99;
    left: 40px;
    color: #fff;
}
#primary-content .format-standard.has-post-thumbnail .post-content-body {
    padding: 0 30px;
}
.author_link span.quote-author {
    margin-top: 20px;
    text-align: right;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
/* Logo Hidden */
.menu-position-top.menu-style-v2 .menu-block .logo img {
    display: none;
}
.menu-block .logo a span {
    font-family: milkshakeregular;
    margin: 10px 0 0 0;
    color: #111;
    text-shadow: 0px -4px #ccc;
    vertical-align: middle;
    font-size: 40px;
}
.page-template-taxonomy-category.page-fixed-width .index-isotope .item-isotope {
    width: 24%;
    padding: 0.5%;
}
.page-template-taxonomy-author.page-fixed-width .index-isotope .item-isotope {
	 width: 32.3%;
    padding: 0.5%;
}
.post-content .category-name{
	font-family: Nunito;
    font-size: 30px;
    text-transform: uppercase;
}
.mian_h2{
	font-size: 80px;
}
.author_section .quote-content{
	text-align:center;
	padding-top: 80px;
}
p.author-count {
    font-family: Nunito;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.index-isotope.v3 article.pluto-post-box.format-quote.has-post-thumbnail.author_section .image-fader {
    background-color: #111111a3;
}
.index-isotope.v3 article.pluto-post-box.format-quote.has-post-thumbnail.author_section:hover .image-fader{
    background-color: #11111185;
}
.index-isotope.v3 article.pluto-post-box.format-quote.has-post-thumbnail .image-fader {
    background-color: #11111185;
}
.index-isotope.v3 article.pluto-post-box.format-quote.has-post-thumbnail:hover .image-fader {
    background-color: #111111a8;
}

@media (max-width: 1599px) and (min-width: 1300px){
	.page-fluid-width.no-sidebar.menu-position-top .index-isotope .item-isotope, .page-fluid-width.no-sidebar.menu-position-top .index-isotope article.featured-post, .page-fluid-width.no-sidebar.menu-position-top .featured-posts-slider-contents .item-isotope, .page-fluid-width.no-sidebar.menu-position-top .featured-posts-slider-contents article.featured-post {
		width: 24%;
		padding: 0.5%;
	}
}